<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block content %}
<link rel="stylesheet" href="{% static 'css/adm_style.css' %}">
<title>Add Sale | JesyFoods</title>
</head>
<body>

    {% include "adm/base_side_nav.html" %}
    <section class="home_content">

        <div class="nav_top">
            <div class="hed">
               <a onclick="window.history.back()"   class="back-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                  Add Sale
            </div>           
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="home"><i class="fa fa-home"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
            </li>
            
           <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
                    <span class="name">{{request.user}}</span>
               </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="MyAccount"><i class="fa fa-user-circle-o"></i> My Account</a>
                      <a class="dropdown-item" href="price_list"><i class="fa fa-money" aria-hidden="true"></i> Price List</a>
                      <a class="dropdown-item" href="https://jesyfoods.com/products"><i class="fa fa-tasks" aria-hidden="true"></i> Products</a>
                      <a class="dropdown-item" href="settings"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp; Settings</a>
                      <a style="color: darkgreen;" class="dropdown-item" href="https://jesyfoods.com/"><i class="fa fa-globe" aria-hidden="true"></i> Jesy Foods</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item logout" style="color: red;" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                      </div>
              </li>
          </ul>
    </div>

<!------------------------------------------------------->


 

        <div class="dt_tab container mt-5">
            <div class="dte"><span>Date:</span><input name="date" id="date" type="date" class="dt form-control" value="{{dt|date:'Y-m-d'}}"></div>
            <div class="dtod"><span>Invoice No:</span><div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <input class="input-group-text" style="width:35px;" id="prefix" value="{{prefix}}" readonly>

                </div>
                <input name="od_no" id="od_no" type="text" class="dt form-control" value="{{od_no}}" readonly>
              </div></div>
            
        </div>
        {% for message in messages %}
           <div class="alert alert-info" role="alert">
               {{message}}
            </div>
        {% endfor %}
        <div class="container mt-4">
            <form id="form1"  action="{% url 'add_sale' %}" method="post">{% csrf_token %}
            <select name="s_party" class="form-control" id="s_party">
              <option selected>{{party_ob.party_name}}</option>
                {% if party %}
                {% for i in party %}
              <option value="{{i.party_name}}">{{i.party_name}}</option>
              {% endfor %}
              {% endif %}
            </select>
            </form>
            <div class="form-row mt-1">
                <div class="col">
                  <input id="place" type="text" class="form-control form-control-sm" placeholder="Address" value="{{party_ob.address}}" readonly>
                </div>
                <div class="col">
                    <!--
                  <input id="phone" type="number" class="form-control form-control-sm" placeholder="Phone" value="{{party_ob.phone}}" readonly>
                    -->
                    <div class="input-group input-group-sm mb-3">
                      <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="{{party_ob.phone}}" readonly>
                      <div class="input-group-append">
                       <a href="tel:{{party_ob.phone}}" class="btn btn-outline-success" type="button"><i class="fa fa-phone" aria-hidden="true"></i></a>
                      </div>
                    </div>
                </div>
            </div>

<!--
            <table class="table mt-3">
                <tbody>
                <tr></tr>
                {% if od %}
                {% for i in od %}
                  <tr id="{{i}}" >
                    <td><a class="ed" data-toggle="modal" data-target="#AddItem">{{i.p_name}}</a></td>
                    <td>{{i.qty}}{% if i.fqty %}+{{i.fqty}}{% endif %}</td>
                    <td>₹{{i.amount}}</td>
                  </tr>
                {% endfor %}
                {% endif %}

                </tbody>
              </table>
-->
              <table id="table" class="table mt-3">
                <tbody>
                <tr></tr>
                {% if sale %}
                {% for i in sale %}
                  <tr id="item-{{i.id}}" >
                    <td class="itemName td" name="name"><a onClick="editItem({{i.id}})" data-toggle="modal" data-target="#AddItem")>{{i.p_name}}</a></td>
                    <td class="itemQty td" name="qty">{{i.qty}}{% if i.fqty %}+{{i.fqty}}{% endif %}</td>
                    <td class="itemAmt td" name="amt">₹{{i.amount}}</td>
                  </tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>



             <button id="add_btn" class=" btn btn-secondary btn-block btn-sm mt-3"  data-toggle="modal" data-target="#AddItem">Add Items</button>
<!--            <div class="btn-group btn-block" role="group">-->
<!--                <a hidden href="{% url 'take_payment' %}?party={{party_ob.id}}" id="add_pay"  class=" btn btn-outline-success btn-sm btn-block mt-1"  >Take Payment</a>-->
<!--                <button id="add_rpt"  class=" btn btn-outline-primary btn-sm btn-block mt-1"  >Add Report</button>-->
<!--            </div>-->
<!--            <div class="alert alert-info mt-2" id="alt-rpt" role="alert">-->
<!--              Report submitted successfully!-->
<!--            </div>-->
           
        <!-- <div class="row container mt-3">
            <div class="col-sm-6">
                <textarea class="form-control" id="report"  rows="3"></textarea>
            </div>
            <div class="col-sm-6">
                <p class="total">Total : ₹<input id="tot" class="total_inp" type="number" value="{{odr.total}}" disabled></p>
            <p class="total">Old Balance : ₹<input id="ob" class="total_inp ob_color" type="number" value="{{ob}}" disabled></p>
            <p class="total">Current Balance : ₹<input id="cb" class="total_inp" type="number" value="{{cb}}" disabled></p>
            <p class="total">Recieved : ₹ <input id="rc" class="total_inp inp-edit" type="number" value="{{odr.received}}"></p>
            <p class="total">Payment Type: <select id="p-type" class="form-control" style="    display: inline-block; width: auto;"  aria-label="Default select example">
                <option selected value="Cash">Cash</option>
                <option value="Gpay">GPay</option>
                <option value="Cheque">Cheque</option>
                <option value="Other">Other</option>
              </select></p>
              <div class="alert alert-warning" id="alt-save" role="alert">
                Couldn't save without item!
              </div>
            </div>
        </div> -->
                
           

            <p class="total">Total : ₹<input id="tot" class="total_inp" type="number" value="{{odr.total}}" disabled></p>
            <p class="total">Old Balance : ₹<input id="ob" class="total_inp ob_color" type="number" value="{{ob}}" disabled></p>
            <p class="total">Current Balance : ₹<input id="cb" class="total_inp" type="number" value="{{cb}}" disabled></p>
            <p class="total">Recieved : ₹ <input id="rc" class="total_inp inp-edit" type="number" step="any" value="{{odr.received}}"></p>
            <p class="total">Payment Type: <select id="p-type" class="form-control" style="    display: inline-block; width: auto;"  aria-label="Default select example">
                <option selected value="Cash">Cash</option>
                <option value="Gpay">GPay</option>
                <option value="Cheque">Cheque</option>
                <option value="Other">Other</option>
              </select></p>
              <div class="alert alert-warning" id="alt-save" role="alert">
                Couldn't save without item!
              </div>

              <div class="input-container" id="inp_report">
                <textarea class="text-input" placeholder="Give sample pack Chilly" id="report" name="report" rows="2"></textarea>
                <label for="report" class="label ">Sale Report</label>
              </div>
              

        </div>
        
        <br><br>









    <section class="bott_but">
       
        <div class="container fixed-bottom">
            <div class="info_box">
                <a id="cancel"  class="btn btn-danger" style="color:white;">
                    <p>Cancel</p>
                </a>
                <a id="save-new" data-id="2" type="button" class="btn btn-primary" >
                    <p>Save & New</p>
                </a>
                <a id="save-sale" type="button" class="btn btn-success" >
                    <p>Save</p>
                </a>
            </div>
        </div>
    </section>






</section>

 <!-- Modal ADD-->
 <div class="modal fade" id="AddItem"  role="dialog" aria-labelledby="AddItemTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="AddItemLongTitle">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <!--<input type="text" class="form-control" placeholder="Item Name">-->
                <select class="form-control" id="p_name" style="width:100%;">
                    <option selected>--Select Product--</option>
                    {% if product %}
                    {% for i in product %}
                    <option value="{{i.pname}}">{{i.pname}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <input id="itm_id" hidden>
            <div class="form-row mb-3">
            <div class="col">
                <input id="qty" type="number" class="form-control" placeholder="Qty" oninput="add_number()"  required>
            </div><strong class="pt-2">+</strong>
            <div class="col">
                <input id="fqty" type="number" class="form-control" placeholder="Free Qty" value="0">
            </div>
            </div>
            <div class="form-row mb-3">
                <div class="col input-container">
                    <input id="price" type="number" class="form-control "  oninput="add_number()"  required>
                    <label for="price" class="label filled-sm">Last Price</label>
                  </div>
                <div class="col input-container">
                  <input id="f_price" type="number" class="form-control" readonly>
                  <label for="f_price" class="label filled-sm">{{party_ob.type}} Price</label>
                </div>
            </div>

            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Total &#8377;</span>
              </div>
                <input id="toot" oninput="tot_number()" type="number" class="form-control" placeholder="000.00" required>
            </div>

        </div>
        <div class="modal-footer">

        <button id="ed_delete" type="button" class="btn btn-danger"  style="display:none;">Delete</button>
        <button id="add_n" data-id="2" type="button" class="btn btn-primary" >Save & New</button>
        <button id="add" data-id="1" type="button" class="btn btn-success" >Save</button>
        </div>
    </div>
    </div>
</div>

    <!-- Modal Report-->
 <div class="modal fade" id="AddReport" role="dialog" aria-labelledby="AddReportCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="AddReportLongTitle">Add Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <textarea name="report" id="rpt" class="form-control" placeholder="eg:(Closed & not reachable)"></textarea>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="add_report" type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
    </div>
</div>
<script src="{% static 'js/adm.js' %}"></script>

<script src="{% static 'js/add_sale.js' %}"></script>
<script>
    $('#sales').addClass('active');
 </script>
{% endblock %}

</body>
</html>