<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

<html lang="en">
<head>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
    <link rel="stylesheet" href="{% static 'css/adm_style.css' %}">
<title>Messages | JesyFoods</title>
</head>
<body>

{% include "adm/base_side_nav.html" %}



    <section class="home_content">
        <div class="black"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="nav_top">
            <div class="hed">
                <i class="fa fa-bars" id="btn_bar-2" aria-hidden="true"></i>
                Messages
            </div>           
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="home"><i class="fa fa-home"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
                    <span class="name">{{request.user}}</span>
               </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="MyAccount"><i class="fa fa-user-circle-o"></i> My Account</a>
                      <a class="dropdown-item" href="price_list"><i class="fa fa-money" aria-hidden="true"></i> Price List</a>
                      <a class="dropdown-item" href="https://jesyfoods.com/products"><i class="fa fa-tasks" aria-hidden="true"></i> Products</a>
                      <a class="dropdown-item" href="settings"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp; Settings</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item logout" style="color: red;" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                      </div>
              </li>
          </ul>
    </div>



<!------------------------------------------------------->


<!-- <section class="mt-5 sale_rep">
    <div class="container dt_tab">
        <form id="form" action="" method="post">{% csrf_token %}
      <input name="party" value="{{party.party_name}}" hidden>
      <select name="filter" id="filter" class="form-control" aria-label="Default select example" disabled>
    
          <option value="all">All</option>
          <option value="today">Today</option>
          <option value="yesterday">Yesterday</option>
          <option value="This Month" >This Month</option>
          <option value="Prev Month">Prev Month</option>
          <option value="This Year">This Year</option>
        </select>
        </form>
        <form id="form0" action="" method="post">{% csrf_token %}
          <input name="party" value="{{party.party_name}}" hidden>
        <div class="right">
          <div class="input-group input-group-sm ">
            <input name="sd" type="date" class="form-control date" style="width:45%;" value="{{sd|date:'Y-m-d'}}" disabled>
              <strong>&nbsp;_&nbsp;</strong>
            <input name="ed" type="date" class="form-control date"  style="width:45%;" value="{{ed|date:'Y-m-d'}}" disabled>
          </div>
      </div>
  </form>

    </div>
</section> -->

<section class="  ">
<div class="tabs">
  <div class="tabs_head">
    <div class="tabs_toggle is-active">REPORTS <span class="badge badge-secondary ml-2">{{count_rpt}}</span></div>
    <div class="tabs_toggle">FEEDBACKS <span class="badge badge-danger ml-2">{{count_fdb}}</span></div>
    <div class="tabs_toggle">MESSAGES <span class="badge badge-success ml-2">{{count_msg}}</span></div>
  </div>
  <div class="tabs_body">

    <!-- FIRST -->

    <div class="tabs_content is-active">
      <h2 class="tabs_title">Party Reports</h2>
      <table class="table table-hover mt-3" >
        <thead>
          <tr>
            <th scope="col">Date </th>
            <th scope="col">Party </th>
            <th scope="col">Message</th>
            <!-- <th scope="col">Disc</th> -->
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% if p1_obj.object_list %}
        {% for i in p1_obj.object_list %}
        
          <tr>
            <td>{{i.date|date}}</td>
            <td><a href="{% url 'party_view' %}?data={{i.party_name.id}}"> {{i.party_name}}</a></td>
            <td>{{i.report}}
              <p>{{i.disc}}</p>
            </td>
            <!-- <td>{{i.disc}}</td> -->
            <td>
              <!-- <button class="btn btn-danger btn-sm"   data-toggle="modal" data-target="#view_messages{{i.id}}" ><i class="fa fa-trash" aria-hidden="true"></i></button> -->
              <a href="{% url 'view_messages' %}?id={{i.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>

           <!-- Modal deleteReport-->
            <!-- <div class="modal fade" id="view_messages{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="view_messagesLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="view_messagesLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this data?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'view_messages' %}?id={{i.id}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                </div>
            </div> -->

                  
        {% endfor %}
        {% else %}
        <tr><td>No data to found!</td></tr>
        {% endif %}        
        </tbody>
      </table>

      <!-- <button class="btn btn-outline-danger btn-block"    data-toggle="modal" data-target="#DeleteAllReport" >Clear All</button> -->
         <!-- Modal deleteReportAll-->
            <div class="modal fade" id="DeleteAllReport" tabindex="-1" role="dialog" aria-labelledby="DeleteAllReportLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="DeleteAllReportLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete all the data?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <form action="view_messages" method="post">{% csrf_token %}
                        <button type="submit" class="btn btn-danger" >Delete All</button>
                        </form>
<!--                    <a href="{% url 'view_messages' %}?a" class="btn btn-danger">Delete All</a>-->
                    </div>
                </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                {%if p1_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{p1_obj.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
            
                <!-- <li class="page-item"><a class="page-link" href="?page={{p1_obj.number|sub:3}}">{{p1_obj.number|sub:3}}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{p1_obj.number|sub:2}}">{{p1_obj.number|sub:2}}</a></li> -->
                <li class="page-item"><a class="page-link" href="?page={{p1_obj.number|sub:1}}">{{p1_obj.number|sub:1}}</a></li>
            
                {% endif %}
                <li class="page-item"><a class="page-link" href="?page={{p1_obj.number}}" style="color: #000;">{{p1_obj.number}}</a></li>
                {%if p1_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{p1_obj.number|add:1}}">{{p1_obj.number|add:1}}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{p1_obj.number|add:2}}">{{p1_obj.number|add:2}}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{p1_obj.number|add:3}}">{{p1_obj.number|add:3}}</a></li>    
                <li class="page-item">
                  <a class="page-link" href="?page={{p1_obj.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
    </div>
    

    <!-- SECOND -->

    <div class="tabs_content">
      <h2 class="tabs_title">Party Feedbacks</h2>
      <table class="table table-hover mt-3" >
        <thead>
          <tr>
            <th scope="col">Date </th>
            <th scope="col">Party </th>
            <th scope="col">Message</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% if feedback %}
        {% for i in feedback %}
        
          <tr>
            <td>{{i.date|date}}</td>
            <td><a href="{% url 'party_view' %}?data={{i.party_name.id}}"> {{i.party_name}}</a></td>
            <td>{{i.disc}}</td>
            <td>
              <!-- <button class="btn btn-danger btn-sm"   data-toggle="modal" data-target="#view_messages{{i.id}}" ><i class="fa fa-trash" aria-hidden="true"></i></button> -->
              <a href="{% url 'view_messages' %}?id={{i.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>

           <!-- Modal deleteOrder-->
            <!-- <div class="modal fade" id="view_messages{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="view_messagesLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="view_messagesLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this data?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'view_messages' %}?id={{i.id}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                </div>
            </div> -->
            

        {% endfor %}
        {% else %}
        <tr><td>No data to found!</td></tr>
        {% endif %}

        </tbody>
      </table>
      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {%if p2_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page2={{p2_obj.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
      
          <li class="page-item"><a class="page-link" href="?page={{p2_obj.number|sub:3}}">{{p2_obj.number|sub:3}}</a></li>
          <li class="page-item"><a class="page-link" href="?page={{p2_obj.number|sub:2}}">{{p2_obj.number|sub:2}}</a></li>
          <li class="page-item"><a class="page-link" href="?page2={{p2_obj.number|sub:1}}">{{p2_obj.number|sub:1}}</a></li>
      
          {% endif %}
          <li class="page-item"><a class="page-link" href="?page2={{p2_obj.number}}" style="color: #000;">{{p2_obj.number}}</a></li>
          {%if p2_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page2={{p2_obj.number|add:1}}">{{p2_obj.number|add:1}}</a></li>
          <li class="page-item"><a class="page-link" href="?page2={{p2_obj.number|add:2}}">{{p2_obj.number|add:2}}</a></li>
          <li class="page-item"><a class="page-link" href="?page2={{p2_obj.number|add:3}}">{{p2_obj.number|add:3}}</a></li>    
          <li class="page-item">
            <a class="page-link" href="?page2={{p2_obj.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav> -->
    </div>

    

    <!-- THIRD -->

    <div class="tabs_content">
      <h2 class="tabs_title">Messages from Users</h2>
      <table class="table table-hover table-responsive mt-3">
        <thead>
          <tr>
            <th scope="col">Date </th>
            <th scope="col">Type </th>
            <th scope="col">Name </th>
            <th scope="col">Phone </th>
            <th scope="col">Email </th>
            <th scope="col">Message</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% if msg %}
        {% for i in msg %}
          <tr>
            <td>{{i.date}}</td>
            <td>{{i.type}}</td>
            <td>{{i.name}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.email}}</td>
            <td>{{i.msg|urlize}}</td>
            <td><button class="btn btn-danger btn-sm"   data-toggle="modal" data-target="#user_messages{{i.id}}" ><i class="fa fa-trash" aria-hidden="true"></i></button>
<!--                <i class="fa fa-reply" aria-hidden="true"></i>-->
            </td>
          </tr>

           <!-- Modal deleteOrder-->
            <div class="modal fade" id="user_messages{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="user_messagesLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="user_messagesLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this message?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'view_messages' %}?msg={{i.id}}" class="btn btn-danger">Yes, Delete</a>
                    </div>
                </div>
                </div>
            </div>

        {% endfor %}
        {% else %}
        <tr><td>No data to found!</td></tr>
        {% endif %}

        </tbody>
      </table>
      <button class="btn btn-outline-danger btn-block"    data-toggle="modal" data-target="#DeleteAllMsg" >Clear All</button>
         <!-- Modal deleteReportAll-->
            <div class="modal fade" id="DeleteAllMsg" tabindex="-1" role="dialog" aria-labelledby="DeleteAllMsgLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="DeleteAllMsgLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete all the messages?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <form action="delete_messages" method="post">{% csrf_token %}
                        <button type="submit" class="btn btn-danger" >Delete All</button>
                        </form>
<!--                    <a href="{% url 'view_messages' %}?a" class="btn btn-danger">Delete All</a>-->
                    </div>
                </div>
                </div>
            </div>
    </div>
  </div>
</div>
</section>




 </section>

 



<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/adm.js' %}"></script>
<script>
    $('#view_messages').addClass('active');
 </script>
{% endblock %}

</body>
</html>