{% extends 'base.html' %}
{% load static %}
<head>
  {% block title %}Change Password {% endblock %}
    {% block content %}
<link rel="stylesheet" href="{% static 'css/adm_style.css' %}">
<title>Change Password | JesyFoods</title>
</head>
<body>




    <section class="jesy_nav">
        <nav class="navbar navbar-light ">
            <div class="logo-back">
                <a onclick="window.history.back()"   class="back-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <a href="home" class="navbar-brand"><img src="{% static 'images/logo.png' %}" class="logo" alt="jesy_logo"></a>
            </div>
            <form class="form-inline">
              <div class="dropdown" style="margin-left: 15px;">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fa fa-user-circle-o"></i> {{request.user}}
                  </a>

                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="MyAccount"><i class="fa fa-user-circle-o"></i> My Account</a>
                    <a class="dropdown-item" href="price_list"><i class="fa fa-money" aria-hidden="true"></i> Price List</a>
                    <a class="dropdown-item" href="https://jesyfoods.com/products"><i class="fa fa-tasks" aria-hidden="true"></i> Products</a>
                    <a class="dropdown-item" href="settings"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp; Settings</a>
                    <a style="color: darkgreen;" class="dropdown-item" href="https://jesyfoods.com/"><i class="fa fa-globe" aria-hidden="true"></i> Jesy Foods</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item logout" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                    </div>
                  </div>
                </div>
          </form>
          </nav>
    </section><br>
<!------------------------------------------------------->


<section class="container mt-5">
  <h3>Change Password</h3>
  <hr>
  <form action="" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      {{ error}}
    </div>
    {% endfor %}

    {% for field in form %}
    <div class="form-group">
      {{ field.label }}
      {{ field }}
    </div>

    {% if field.errors %} 
    <div class="alert alert-danger">
      {{ field.errors }}
    </div>
    {% endif %}
    {% endfor %}

    <button class="btn btn-primary btn-block">Change Password</button>
  </form>
  
</section>

    





<script src="{% static 'js/adm.js' %}"></script>
{% endblock %}

</body>