<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block content %}
<link rel="stylesheet" href="{% static 'css/adm_style.css' %}">
<title>Login | JesyFoods</title>
</head>
<body id="login">

<section class="login">
<div class="lwrapper">
    <div class="title"><span style="font-size: 1.7rem;">Login</span></div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input name="username" type="text" placeholder="Username" autocomplete="off" required>
        </div>
        <div class="row">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input name="password" type="password" placeholder="Password" required>
        </div>    
        <div class="pass"><a href="reset_password">Forgot Password?</a></div>
       
        <div class="row button">
           <input type="submit" value="Login">
        </div>
        {% for message in messages %}
           <div class="alert alert-info" role="alert">
               {{message}}
            </div>
        {% endfor %}
    </form>
</div>
<div class="container text-center" style="margin-top: 10rem;">
    <img src="{% static 'images/logo.png' %}" alt="logo" width="100px">
    <p style="color: #bbbbbb;font-family: monospace;" class="p-3">JESY-CRM V-2.0</p>
    <a href="https://www.naszi.ml/">By NFOUR</a>
    
</div>
</section>




<script src="{% static 'js/adm.js' %}"></script>
{% endblock %}

</body>
</html>