<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block content %}
<link rel="stylesheet" href="{% static 'css/adm_style.css' %}">
<title>Reset Password | JesyFoods</title>
</head>
<body id="login">

<section class="login">
<div class="lwrapper">
    <div class="title"> <span>Password reset</span></div>
    <form action="" method="post">
        {% csrf_token %}
        <p>Forgotten your password? <br>
             Enter your email address below, and we’ll email instructions for setting a new one.</p>
      

        {{form}}
        <div class="pass mt-3"><a href="login">Back to login</a></div>
       
        <div class="row button">
           <input type="submit" value="Send email">
        </div>
        
        
    </form>
</div>
</section>




<script src="{% static 'js/adm.js' %}"></script>
{% endblock %}

</body>
</html>