<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block content %}
<link rel="stylesheet" href="{% static 'css/adm_style.css' %}">
<title>Reset Password | JesyFoods</title>
</head>
<body id="login">

<section class="container pt-5" >
<div class="lwrapper">
    <div class="title"><span>Password reset sent</span></div>
   
    <p class="pl-3 pr-3 pt-5">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p class="pl-3 pr-3 pb-5">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    
    
</div>
</section>




<script src="{% static 'js/adm.js' %}"></script>
{% endblock %}

</body>
</html>