<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block content %}
<link rel="stylesheet" href="{% static 'css/adm_style.css' %}">
<title>Reset Password | JesyFoods</title>
</head>
<body id="login">

<section class="container pt-5" >
<div class="lwrapper">
    <div class="title"> <span>Password reset complete</span></div>
   
    <p class="pl-3 pr-3 pt-5">Your password has been set. You may go ahead and log in now.</p>
    
    <a href="login" class="btn btn-primary btn-block ">Login</a>
</div>
</section>




<script src="{% static 'js/adm.js' %}"></script>
{% endblock %}

</body>
</html>